<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    Shopping List

<ul class="table-body">
    <% items.forEach(item => { %>
        <li>
            <div class="item-data">
                <span class="id-column"><%= item.id %></span>
                <span class="name-column"><%= item.name %></span>
            </div>
            <div class="item-menu">
                <form action="/delete/<%= item.id %>" method="POST">
                    <input type="submit" value="削除">
                </form>
                <a href="/edit/<%= item.id %>" type="button">編集</a>
            </div>
        </li>
    <% }) %>
</ul>
<form action="/add" method="POST">
    <input type="text" name="itemName">
    <input type="submit" value='追加' >
</form>

</body>
</html>